<div class="evfFormSection evfDateFieldFormSection"
	><ul class="evfBasicFormLayout"
		><li
			><label for="required">${i18n.fieldDialog_field_required}</label
			><input name="required" data-dojo-attach-point="requiredNode"></input
		></li
		><li
			><label for="minDate">${i18n.dateFieldDialog_field_minDate}</label
			><input name="minDate" data-dojo-attach-point="minDateNode"></input
		></li
		><li
			><label for="maxDate">${i18n.dateFieldDialog_field_maxDate}</label
			><input name="maxDate" data-dojo-attach-point="maxDateNode"></input
		></li
		><li
			><label for="defaultValue">${i18n.fieldDialog_field_defaultValue}</label
			><input name="defaultValue" data-dojo-attach-point="defaultValueNode"></input
		></li
	></ul
></div>