<div class="evfFormSection evfTextFieldFormSection"
	><ul class="evfBasicFormLayout"
		><li
			><label for="required">${i18n.fieldDialog_field_required}</label
			><input name="required" data-dojo-attach-point="requiredNode"></input
		></li
		><li
			><label for="minLength">${i18n.textFieldDialog_field_minLength}</label
			><input name="minLength" data-dojo-attach-point="minLengthNode"></input
		></li
		><li
			><label for="maxLength">${i18n.textFieldDialog_field_maxLength}</label
			><input name="maxLength" data-dojo-attach-point="maxLengthNode"></input
		></li
		><li
			><label for="defaultValue">${i18n.fieldDialog_field_defaultValue}</label
			><input name="defaultValue" data-dojo-attach-point="defaultValueNode"></input
		></li
	></ul
></div>