<div class="evfFormSection evfTimeFieldFormSection"
	><ul class="evfBasicFormLayout"
		><li
			><label for="required">${i18n.fieldDialog_field_required}</label
			><input name="required" data-dojo-attach-point="requiredNode"></input
		></li
		><li
			><label for="minTime">${i18n.timeFieldDialog_field_minTime}</label
			><input name="minTime" data-dojo-attach-point="minTimeNode"></input
		></li
		><li
			><label for="maxTime">${i18n.timeFieldDialog_field_maxTime}</label
			><input name="maxTime" data-dojo-attach-point="maxTimeNode"></input
		></li
		><li
			><label for="defaultValue">${i18n.fieldDialog_field_defaultValue}</label
			><input name="defaultValue" data-dojo-attach-point="defaultValueNode"></input
		></li
	></ul
></div>