<div class="twibLayout960 dualColumn"
    ><div class="navBarOuter"
        ><div data-dojo-attach-point="navBarInnerNode" class="navBarInner"
            ><div data-dojo-attach-point="navBarNode"></div
        ></div
    ></div
    ><div data-dojo-attach-point="contentLayoutNode"
    	><h3 class="pageTitle" data-dojo-attach-point="titleNode"></h3
    	><div class="layoutContent"
	        ><div class="dijitInline layoutContentLeft" data-dojo-attach-point="leftContentNode"></div
	        ><div class="dijitInline layoutContentRight" data-dojo-attach-point="rightContentNode"></div
        ></div
    ></div
></div>