# Directories created as part of the build process
###########################################################################
*.class
*.jar
*.war
*.ear
**/build/**
**/dist/**
**/lib/**
**/src/generated/**
###########################################################################
/.gradle