# Directories created as part of the build process
###########################################################################
*.class
*.jar
*.war
*.ear
**/build/**
**/dist/**
**/lib/**
**/src/generated/**
examples/petclinic/build/**
examples/petclinic/web-app/.settings/**
examples/petclinic/web-app/build/**
###########################################################################
/.gradle