# Directories created as part of the build process
###########################################################################
**/build/**
**/dist/**
**/lib/**
**/src/generated/**
###########################################################################