
.claro .pager {
  padding:            0.5em;
  background:         #FFFFFF;
  white-space:        nowrap;
}

.claro .pager .pageContainer {
  vertical-align:     text-bottom;
}

.claro .pager .page-numbers .prev,
.claro .pager .page-numbers .next {
  margin:             0 0.5em;
}

.claro .pager .page-numbers {
  margin:             0 0.5em;
  cursor:             pointer;
}

.claro .pager .page-numbers:hover {
  text-decoration:    underline;  
}

.claro .pager .page-numbers.current {
  cursor:             default;
  font-weight:        bold;
  background:         #ABD6FF;
  text-align:         center;
  border:             solid 1px #759DC0;
  border-radius:      1em;
  padding:            0.25em;
}

.claro .pager .page-numbers.current:hover {
  text-decoration:    none;
}
