<div class="evfDataDimensionConfig"
	><div class="dijitInline dimensions" data-dojo-attach-point="dimensionNode"
		><div class="title">${i18n.sectionTitle_dimensions}</div
		><div class="content" data-dojo-attach-point="dimensionContentNode"
			><div data-dojo-attach-point="dimensionTreeNode"></div
		></div
	></div
	><div class="dijitInline drillPath" data-dojo-attach-point="drillPathNode"
		><div class="title">${i18n.sectionTitle_drillPath}</div
		><div class="content" data-dojo-attach-point="drillPathContentNode"
			><div data-dojo-attach-point="drillPathTreeNode"></div
		></div
	></div
></div>