<div class="evfDataFactConfig"
	><div class="dijitInline facts" data-dojo-attach-point="factNode"
		><div class="title">${i18n.sectionTitle_facts}</div
		><ul class="content" data-dojo-attach-point="factContentNode"></ul
	></div
	><div class="dijitInline factSelections" data-dojo-attach-point="factSelectionNode"
		><div class="title">${i18n.sectionTitle_factSelections}</div
		><div class="content" data-dojo-attach-point="factSelectionContentNode"
			><div data-dojo-attach-point="factSelectionTreeNode"></div
		></div
	></div
></div>