<div class="pager"
  ><a dojoAttachPoint="previousNode" class="page-numbers prev">${i18n.prev_label}</a
  ><a dojoAttachPoint="pageNodeFirst" class="page-numbers">1</a
  ><span dojoAttachPoint="dotsNodeFirst" class="page-dots">…</span
  ><div dojoAttachPoint="dynamicContainerNode" class="dijitInline pageContainer"></div
  ><span dojoAttachPoint="dotsNodeLast" class="page-dots">…</span
  ><a dojoAttachPoint="pageNodeLast" class="page-numbers"></a  
  ><a dojoAttachPoint="nextNode" span class="page-numbers next">${i18n.next_label}</a
></div>