

.claro .standardPage .toolbar {
    height:                             40px;
    background-color:                   #759DC0;
    margin-bottom:                      2px;
    -webkit-box-shadow:                 0 1px 2px 2px #E5F2FE;
    -moz-box-shadow:                    0 1px 2px 2px #E5F2FE;
    box-shadow:                         0 1px 2px 2px #E5F2FE;
}

.claro .standardPage .toolbar .inner {
    margin:                             0 auto;
    width:                              960px;
}


.claro .standardPage .toolbar .dijitButton,
.claro .standardPage .toolbar .dijitDropDownButton {
    padding:                            0;
    margin:                             0 0.2em;
}

.claro .standardPage .toolbar .dijitButton .dijitButtonNode,
.claro .standardPage .toolbar .dijitDropDownButton .dijitButtonNode {
    padding:                            0;
    background-image:                   none;
    background-color:                   #759DC0;
    -webkit-box-shadow:                 0 0 0;
    -moz-box-shadow:                    0 0 0;
    box-shadow:                         0 0 0;
}

.claro .standardPage .toolbar .dijitButton .dijitButtonContents,
.claro .standardPage .toolbar .dijitDropDownButton .dijitButtonContents {
    line-height:                        38px;
    color:                              #E5F2FE;
    font-size:                          1.25em;
}

.claro .standardPage .toolbar .dijitButton.dijitHover .dijitButtonContents,
.claro .standardPage .toolbar .dijitButton.dijitActive .dijitButtonContents,
.claro .standardPage .toolbar .dijitDropDownButton.dijitHover .dijitButtonContents,
.claro .standardPage .toolbar .dijitDropDownButton.dijitActive .dijitButtonContents {
    color:                              #FFFFFF;
}

.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItem,
.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemActive,
.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemHover,
.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemSelected {
    background-color:                   #759DC0;
}

.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItem {
    background-image:                   none;
    color:                              #E5F2FE;
    font-size:                          1.25em;
}

.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemActive,
.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemHover,
.claro .dijitMenuTable.toolbarMenuPopup .dijitMenuItemSelected {
    color:                              #FFFFFF;
}
