
@import "../../variables";

.claro .twibLayout960 .navBarOuter {
    position:               fixed;
    right:                  0;
    left:                   0;
    z-index:                900;
    margin-bottom:          0;
    background-color:       @primary-color;
    min-height:             36px;
    .box-shadow(0 1px 5px rgba(0,0,0,0.25));
}

.claro .twibLayout960 .navBarInner {
    position:               relative;
    min-height:             36px;
}

.claro .twibLayout960 .navBar {
    width:                  960px;
    margin:                 0 auto;
}

.claro .navBar .logo {
    background:             url(@image-twib-toolbar-logo) no-repeat;
    height:                 24px;
    width:                  34px;
    margin-top:             6px;
    cursor:                 pointer;
}

.claro .navBar .userName {
    float:                  right;
    line-height:            34px;
}

.claro .navBar .dijitDropDownButton {
    margin-top:             0.5em;
}

.claro .navBar .dijitButtonNode {
    background:             transparent;
    border-width:           0px;
    .box-shadow(none);
}