
@import "../../variables";

.claro .twibLayout960 .toolbarOuter {
    position:               fixed;
    right:                  0;
    left:                   0;
    z-index:                900;
    margin-bottom:          0;
    background-color:       @primary-color;
    min-height:             36px;
    .box-shadow(0 1px 5px rgba(0,0,0,0.25));
}

.claro .twibLayout960 .toolbarInner {
    position:               relative;
    min-height:             36px;
}

.claro .twibLayout960 .toolbar {
    width:                  960px;
    margin:                 0 auto;
}

.claro .toolbar .logo {
    background:             url(@image-twib-toolbar-logo) no-repeat;
    height:                 24px;
    width:                  34px;
    margin-top:             6px;
    cursor:                 pointer;
}

.claro .toolbar .userName {
    float:                  right;
    line-height:            34px;
}

.claro .toolbar .dijitDropDownButton {
    margin-top:             0.5em;
}

.claro .toolbar .dijitButtonNode {
    background:             transparent;
    border-width:           0px;
    .box-shadow(none);
}

/* Tooltip Dialogs that drop off of the navigation toolbar */
.claro .evfToolbarDialog {
    padding:                6px 0px 0px;
}

.claro .evfToolbarDialog:focus {  
	outline: none;  
}

.claro .evfToolbarDialog .dijitTooltipContainer {
    background-image:       none;
    border-width:           0 10px 10px 10px;
    border-color:           @primary-color;
    border-radius:          0 0 4px 4px;
    .box-shadow(0 1px 5px rgba(0, 0, 0, 0.25));
}

.claro .evfToolbarDialog .dijitTooltipConnector {
    display:                none;
}

/* Messages Button & Dialog */
.claro .toolbar .messagesButton .messagesIcon {
	width: 16px;
	height: 16px;
}

.claro .toolbar .messagesButton.error .messagesIcon {
	background: 			url(../../images/fchi/16x16/exclamation.png);
}
.claro .toolbar .messagesButton.warn .messagesIcon {
	background: 			url(../../images/fchi/16x16/error.png);
}
.claro .toolbar .messagesButton.info .messagesIcon {
	background: 			url(../../images/fchi/16x16/information.png);
}

.claro .toolbar .messagesButton .dijitButtonText {
	padding: 0;
}

.claro .evfMessagesTooltipDialog {
	min-width: 400px;
	max-width: 900px;
}

.claro .evfMessagesTooltipDialog .evfMessages .message {
	white-space: nowrap;
}

.claro .evfMessagesTooltipDialog .evfMessages .message .icon,
.claro .evfMessagesTooltipDialog .evfMessages .message .code,
.claro .evfMessagesTooltipDialog .evfMessages .message .text {
	vertical-align: top;
}

.claro .evfMessagesTooltipDialog .evfMessages .message .icon {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

.claro .evfMessagesTooltipDialog .evfMessages .message .code {
	padding: 0 0.5em;
}

.claro .evfMessagesTooltipDialog .evfMessages .message .text {
	white-space: normal;
}

.claro .evfMessagesTooltipDialog .evfMessages .message.error .icon {
	background: 			url(../../images/fchi/16x16/exclamation.png) center top no-repeat;
}
.claro .evfMessagesTooltipDialog .evfMessages .message.warn .icon {
	background: 			url(../../images/fchi/16x16/error.png) center top no-repeat;
}
.claro  .evfMessagesTooltipDialog .evfMessages .message.info .icon {
	background: 			url(../../images/fchi/16x16/information.png) center top no-repeat;
}
