<div class="defaultLanding"
  ><div class="headline" dojoAttachPoint="headlineNode"
    ><div class="dijitInline marketLogo"
    ></div
    ><div class="dijitInline marketTitle"
    >${i18n.marketTitle}</div
  ></div
  ><div class="topSectionRow" dojoAttachPoint="topSectionRowNode"
    ><div class="dijitInline section leftSection"
      ><div class="" dojoAttachPoint="topLeftSectionNode"></div
    ></div
    ><div class="dijitInline section centerSection" dojoAttachPoint="topCenterSectionNode"></div
    ><div class="dijitInline section rightSection" dojoAttachPoint="topRightSectionNode"></div
  ></div  
  ><div class="bottomSectionRow" dojoAttachPoint="bottomSectionRowNode"
    ><div class="dijitInline section leftSection" dojoAttachPoint="bottomLeftSectionNode"></div
    ><div class="dijitInline section centerSection" dojoAttachPoint="bottomCenterSectionNode"></div
    ><div class="dijitInline section rightSection" 
      ><div class="" dojoAttachPoint="bottomRightSectionNode"></div
    ></div
  ></div
></div>