<div class="accountSummaryForm">
    <div class="accountSummary">
        <div class="dijitInline">
            <img class="profilePic" src="${avatarSrc}"></img>
        </div>
        <div class="dijitInline summaryContainer">
            <div><span data-dojo-attach-point="nameNode">${name}</span></div>
            <div><span data-dojo-attach-point="loginIdNode">${login}</span></div>
            <div data-dojo-attach-point="viewProfileNode"></div>
        </div>
    </div>
    <div data-dojo-attach-point="actionContainerNode" class="actionContainer">
        <div data-dojo-attach-point="logoffNode"></div>
    </div>
</div>