
.claro .navigation .itemGroup {
  margin:           0;
  padding:          0;
}

.claro .navigation .itemGroup .itemGroupTitle {
  font-weight:      bold;
}

.claro .navigation .itemGroup .itemGroup {
  padding:          0.25em 0 0 2em;
} 

.claro .navigation .itemGroup .itemGroup .itemGroupTitle {
  font-weight:      normal;
}

.claro .navigation a {
  cursor:           pointer;
  text-decoration:	none;
  color:			black;
}

.claro .navigation a:hover {
  text-decoration:  underline;
}

/* Title Pane Navigation */
.claro .navigation .dijitTitlePaneTitle {
	border-left: 	0;
	border-right: 	0;	
}

.claro .navigation .first .dijitTitlePaneTitle {
	border-top:		0;
}

.claro .navigation .dijitTitlePaneTitleFocus {
	margin-top: 	0;
	padding-bottom: 5px;
	padding-top: 	6px;
}

.claro .navigation .dijitTitlePaneContentOuter {
	border-left: 	0;
	border-right: 	0;
	border-bottom: 	0;
}
