<ul class="pager"
  ><li data-dojo-attach-point="previousNode" class="evfPageNumbers prev"><a>${i18n.prev_label}</a></li
  ><li data-dojo-attach-point="pageNodeFirst" class="evfPageNumbers"><a>1</a></li
  ><li data-dojo-attach-point="dotsNodeFirst" class="evfPageDots">…</li
  ><li data-dojo-attach-point="pageNodeIdx2" class="evfPageNumbers"><a></a></li
  ><li data-dojo-attach-point="pageNodeIdx3" class="evfPageNumbers"><a></a></li
  ><li data-dojo-attach-point="pageNodeIdx4" class="evfPageNumbers"><a></a></li
  ><li data-dojo-attach-point="pageNodeIdx5" class="evfPageNumbers"><a></a></li
  ><li data-dojo-attach-point="dotsNodeLast" class="evfPageDots">…</li
  ><li data-dojo-attach-point="pageNodeLast" class="evfPageNumbers"><a></a></li  
  ><li data-dojo-attach-point="nextNode" class="evfPageNumbers next"><a>${i18n.next_label}</a></li
></ul>